include _macro/item.pug
doctype html
html(lang=config.language)
  head
    include _partial/head.pug
  body
    include _partial/header.pug    
    main.page-content
      .wrapper
        block content
    include _partial/footer.pug
    include _widget/backtotop.pug
