extends _base.pug

block content
  article.post
    header.post-header
      h1.post-title(itemprop="name headline") #{page.title}
      +meta(page)
    if page.toc
      section#toc
        h2.heading Content
        != toc(page.content)
    section.post-content.toc-src(itemprop="articleBody")
      != page.content
