div._vertical-rhythm
    if theme.github || theme.twitter
      small.meta #{__('follow-me')}：
      if theme.twitter
        a._plain-link(href="https://twitter.com/"+theme.twitter)
            svg(role="img" class="icon")
                use(xlink:href="/icon.svg#twitter")
            <!--[if lt IE 9]>Twitter<![endif]-->
      if theme.github
        a._plain-link(href="https://github.com/"+theme.github)
            svg(role="img" class="icon")
                use(xlink:href="/icon.svg#github")
            <!--[if lt IE 9]>GitHub<![endif]-->
      br
    if theme.email
      small.meta #{__('contact-me')}：
      a._plain-link(href="mailto:"+ theme.email)
          svg(role="img" class="icon")
              use(xlink:href="/icon.svg#mail")
          <!--[if lt IE 9]>Email<![endif]-->
!= js('js/svg4everybody.js')
