/**
 * Post List
 */

.post-item {
  font-size: 20px;
  > .meta {
    font-size: 0.8em;
  }
  &:not(:last-child) {
    margin-bottom: 0.7em;
  }
}

.archive-item {
  font-size: 19px;
  position: relative;
  > .meta {
    position: absolute;
    font-size: 0.7em;
    line-height: 2;
  }

  > .linkwrapper {
    margin-left: 3em;
  }

  &:not(:last-child) {
    margin-bottom: 0.4em;
  }
}

h3.year:not(:first-child) {
  margin: 30px 0 10px;
}
