/**
 * Site
 */
.site-header {
    border-bottom: 1px solid $grey-color-light;
    overflow: hidden;

    .site-title, .site-nav {
        margin: 0 -5px;
    }
}

.nav-item {
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    padding: .5em .9em;
}

.site-title {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -1px;
    height: $header-height;
    line-height: $header-height;
}

.site-footer {
    width: 100%;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/2 0;
    text-align: center;
}

p.copyright {
  margin: 0;
  line-height: 1.5;
  font-size: smaller;
}

.site-home {
    > .one {
        width: 60%;
        float: left;
    }

    > .two {
        float: right;
        max-width: 35%;
    }

    @include media-query($on-palm) {
        >.one,>.two {
            width: 95%;
            float: left;
        }
        >.one {
            margin-bottom: 1em;
        }
        >.two {
            max-width: unset;
        }
    }
}
